:global .mainBackground {
  background: #f0f2f5;
}

:global .mainLayout {
  margin: 0 auto;
  height: 100%;
  max-width: 992px;
  & .mainLogoContainer {
    text-align: center;
  }
  
  & .mainLayoutContent {
    padding: 0 50px;
    margin-top: 64px;

    & .mainLayoutContentBackground {
      background: #fff;
      padding: 24px;
      min-height: 380px;
    }
  }
}

:global .descriptionContainer {
  margin: 0 auto;
  max-width: max-content;
  & .descriptionLabel {
    font-size: 10px;
    position: absolute;
    transform: translateY(-100%);
  }
  & .descriptionContent {
    font-size: 15px;
  }
}

:global .platformsDetails {
  margin-top: 5rem;
}

:global .activeBrowser {
  margin: 0px 10px;
  box-shadow: 1px 1px 15px 1px rgba(9, 196, 156, 0.38);
}

:global .logoMainContainer {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

:global .navigation {
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9b4dca;
    border: 1px solid #9b4dca;
    border-radius: 5px;
  }
  
  & li {
    float: left;
    margin-bottom: 0;
    padding: 5px 20px;
  }
  
  & li a,
  & li a:hover {
    color: white;
  }
  
  & li.active {
    background-color: white;
  }
  
  & li.active a,
  & li.active a:hover {
    color: #9b4dca;
  }  
}

:global .platformDetails {
  & .platformLogo {
    width: 6em;
    margin: 0 auto;
    padding: 25px 10px 0px 10px;
  }
  
  & .releaseNotes {
    text-align: left;
  }
  
  & .propertyContainer {
    margin: 0 auto;
    max-width: max-content;
    /* padding: 14px 0px 0px 0px; */
    text-align: center;
  
    & .propertyTitle {
      font-size: 8px;
      line-height: 8px;
      margin: 0;
      /* position: absolute;
      transform: translateY(-100%); */
    }
  
    & .propertyContent {
      font-size: 14px;
      margin: 0;
    }
  }
}

:global .releaseNotes {
  & .releaseNotesPanel > div > div {
    padding: 0px 0px 5px 0px !important;
  }
}